{% extends "base.html" %}

{% block content %}
    <h1><strong>{{ product.name }}</strong></h1>
    <br>
    <br>
    <p>{{ product.description }}</p>
<!--    {% if user.is_authenticated %}-->
<!--        <p><a href=" "  style="color:green">{{ post.like }}</a>-->
<!--            | <a href="" style="color:red">{{ post.dislike }}</a></p>-->
<!--    {% else %}-->
<!--        <p><i style="color:green">{{ post.like }}</i>  | <i style="color:red">{{ post.dislike }}</i></p>-->
<!--    {% endif %}-->

<!--        <p>{{ request.body }}</p>-->

{% endblock %}