    body {
    margin: 0;
    }

    .container {
    display:flex;
    background: #e6e6e6;
    }

    .sidebar {
    opacity: 0.85;
    background: #11110f;
    width: 23%;
    height: 100%;
    font-family: "Raleway", sans-serif;
    }

    a {
    text-decoration: none;
    color:grey;
    }